/* .grab_book{
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0px;
}
.heading2{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
} */
/* .grab_book_1{
    margin-left: 90px;
}
.grab_book_2{
    margin-left: 90px;
}
.grab_book_3{
    margin-left: 50px;
} */
.input{
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(93, 91, 104, 0.6);
}
.genre{
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(93, 91, 104, 0.6);
    cursor: pointer;
}
.genre option{
    cursor: pointer;
    height: 40px;
}
h3{
    text-align: center;
    color: rgb(41, 188, 207);
    margin-top: 30px;
}

.btn2{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    background-color: rgb(41, 188, 207);
    color: #060413;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 520px;
}
.details{
    color: black;
    margin-left: 20px;
}
.card{
    width: 30%;
    float: left;
    border: 3px solid black;
    text-decoration: none;
    margin: 0px 20px 30px 0px;
    background-color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(76, 76, 80, 0.6);
    padding: 0px;
}

.details_price{
    color: black;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
}


/* body{
    margin: 0px;
}
.menu-bar{
    width: 100%;
    height: 60px;
    font-family: 'Chakra Petch', sans-serif;
}
.logo{
    width: 20%;
    height: 60px;
    float: left;
    background-color: rgb(182 176 174);
}
.logo img{
    width: 100%;
    height: 100%;
}
.menu{
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(182 176 174);
}
.menu a{
    width:20%;
    height: 100%;
    float: left;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}
.menu a:hover{
    box-shadow: 0 0 20px 10px rgba(63, 62, 62, 0.899);
}
.text{
    margin: auto;
    font-size: 18px;
    padding: 20px 0px 20px 0px;
}
.dropdown{
    width: 30%;
    height: 100%;
    float: left;
}
.dropdown .dropbtn {
    height: 60px;
    width: 100%;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: rgb(182 176 174);
}
.dropdown .dropbtn:hover{
    box-shadow: 0 0 20px 10px rgba(63, 62, 62, 0.899);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(182 176 174);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.5 ease;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
} */
/* The Central Card */
.container{
    justify-content: center;
    align-items: center;
    padding: 20px
}
/* .grabook{
    margin: auto;
    width: 80%;
    height: 260px;
} */
.row{
    margin: auto;
    width: 80%;
    height: 60px;
}
.select-box{
    background-color: rgb(182 176 174);
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 30%;
    float: left;
}
.genre{
    border: none;
    background-color: rgb(182 176 174);
    height: 100%;
    padding: 10px;
    text-align: center;
}
.search-box{
    height: 60px;
    width: 65%;
    background-color: rgb(182 176 174);
    float: left;
}
select{
    font-family:'Chakra Petch', sans-serif;
    font-size: larger;
}
input[type=text]{
    border: none;
    width: 60%;
    height: 40px;
    margin: 10px;
}
.search-btn{
    width: 30%;
    padding: 10px;
    border: none;
    background-color:rgb(182 176 174) ;
    font-family:'Chakra Petch', sans-serif;
    font-size: larger;
}
.search-btn:hover{
    border: 1px solid black;
    box-shadow: 0 0 10px 5px rgba(63, 62, 62, 0.899);
}

a{
    text-decoration: none;
    color: black;
}